<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Auto / Camioneta </ion-title>

    <ion-buttons slot="end">
      <ion-button
        *ngIf="images.length == 0"
        color="primary"
        (click)="addNewToGallery()"
      >
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>

      <ion-button color="success" *ngIf="images.length > 0">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>

      <ion-button (click)="selectImage()" color="primary">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true" color="light">
  <div class="container">
    <br />
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          ><ion-text *ngIf="images.length == 0" color="danger"
            >Falta imágen *</ion-text
          >
          <ion-text *ngIf="images.length > 0" color="success"
            >Imágen cargada</ion-text
          >
        </mat-panel-title>

        <!-- <mat-panel-description>
          Inform the date you wish to travel
          <mat-icon>date_range</mat-icon>
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <ion-card>
        <ion-item
          *ngFor="let file of images; let i = index"
          color="light"
          lines="none"
        >
          <ion-thumbnail slot="start">
            <ion-img [src]="file.data"></ion-img>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            {{ file.name }}
          </ion-label>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="startUpload(file)">
              <ion-icon
                slot="icon-only"
                name="cloud-upload"
                color="danger"
              ></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="deleteImage(file)">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
    </mat-expansion-panel>
  </div>

  <div class="row p-3">
    <div class="col-12">
      <app-ag-formly class="form-create" [formData]="tabsForms"></app-ag-formly>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
      <h4>Repeating Section</h4>
      <app-ag-formly
        class="form-create"
        [formData]="formRepeatSection"
      ></app-ag-formly>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Dropdown Inputs</h4>
      <app-ag-formly
        class="form-create"
        [formData]="formDropdownInput"
      ></app-ag-formly>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Nested Form</h4>
      <app-ag-formly
        class="form-create"
        [formData]="nestedForm"
      ></app-ag-formly>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Ag Grid Integration</h4>
      <app-ag-formly
        class="form-create"
        [formData]="formAgFormlyGrid"
      ></app-ag-formly>
    </div>
  </div> -->
  <!-- </div> -->
</ion-content>

<ion-footer *ngIf="tabsForms">
  <ion-toolbar>
    <ion-button fill="clear" expand="full" type="submit" (click)="submitFn()">
      <ion-icon slot="start" name="save-sharp"></ion-icon>
      <ion-text>Guardar</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>
