<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listado">
      <ion-icon name="list"></ion-icon>
      <ion-label>Listado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="formularioMoto">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Moto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="formularioAutoCamioneta">
      <ion-icon name="car"></ion-icon>
      <ion-label>Auto / Camioneta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
