@import "./variables.scss";

.fit {
  padding: 1vw;
}

/*::ng-deep .mat-tab-label {
    border-radius: 10px 10px 0px 0px;
    // background-color: #cccccc;
    background-color: $dark-gray;
    border-right: 1px black solid;
}

::ng-deep .mat-tab-label-active {
    // background-color: #F7F7F7;
    background-color: $gray;
}*/
