<!-- <div class="container"> -->
<div class="row">
  <div class="col-12">
    <div class="text-center"><h2>Inspecciones Logísticas</h2></div>
    <br />
    <br />
    <app-ag-formly class="form-create" [formData]="tabsForms"></app-ag-formly>
  </div>
</div>
<!-- <div class="row">
    <div class="col-12">
      <h4>Repeating Section</h4>
      <app-ag-formly
        class="form-create"
        [formData]="formRepeatSection"
      ></app-ag-formly>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Dropdown Inputs</h4>
      <app-ag-formly
        class="form-create"
        [formData]="formDropdownInput"
      ></app-ag-formly>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Nested Form</h4>
      <app-ag-formly
        class="form-create"
        [formData]="nestedForm"
      ></app-ag-formly>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Ag Grid Integration</h4>
      <app-ag-formly
        class="form-create"
        [formData]="formAgFormlyGrid"
      ></app-ag-formly>
    </div>
  </div> -->
<!-- </div> -->
