::ng-deep {
  .ag-popup-editor {
    width: 20%;
  }
  .ag-root-wrapper {
    /* ESTO ES PARA RENDERIZAR LAS
        OPTIONS DE LA ULTIMA ROW DE LA TABLA*/
    overflow: visible;
  }
}

ng-select {
  min-width: 100px !important;
  z-index: 99;
}
